.contactList {
    display: flex;
    gap: 50px;
    margin-left: auto;
   
   
}

.mailto {
    display: flex;
    align-items: center;
    color: var(--address);
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding: 32px 0px;

    transition: color var(--trns-hover);
    padding: 0px;

    &:hover,
    &:focus {
        color: var(--bg-btn);
    }
}

.tel {
    display: flex;
    align-items: center;
    color: var(--address);
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    padding: 32px 0px;
    max-width: 1200px;
    padding: 0px;
    transition: color var(--trns-hover);

    &:hover,
    &:focus {
        color: var(--bg-btn);
    }
}

.icon {
    margin-right: 10px;
}