.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}
.headerContainer {
    display: flex;
    align-items: center;
    min-width: 768px;
    height: 60px;

}

/* line */
.headerLine {
    border-bottom: 1px solid #ececec;
}

/* logo header*/
.logoLink {
    font-family: Raleway,
        sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: calc(31 / 26);
    color: #2196f3;

}

.logoHeader {
    color: #000000;
}

.logoFooter {
    color: #ffffff;
}

/* Buttons */
.btn {
    border-radius: 4px;
    border: none;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.heroButton {
    background-color: #2196f3;
    line-height: 1.88;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 24px;
    margin-top: 30px;
    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    flex-wrap: wrap;

}

.filter__button {
    background-color: #f5f4fa;
    line-height: 1.62;
    color: #212121;
    font-weight: 500;
    margin-left: 8px;
    padding: 6px 22px;
    letter-spacing: 0.03em;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: #2196f3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.signButton {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    line-height: 1.88;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 28px;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }

    &__icon {
        fill: #ffffff;
        margin-left: 10px;
    }
}

.submitButton {
    display: block;
    line-height: 1.88;
    color: #ffffff;
    font-weight: 700;
    padding: 10px 52px;

    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0.06em;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}

.closeBtn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    width: 30px;
    height: 30px;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .close__icon {
        fill: #2196f3;
    }
}