.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
}
.headerContainer {
    display: flex;
    align-items: center;
   
    height: 80px;

}

/* line */
.headerLine {
    border-bottom: 1px solid #ececec;
}
