@media (min-width: 1200px) {
    .hero {
        padding: 200px 0;
    }
}

@media (min-width: 768px) {
    .overlay {
        height: 600px;
    }
}

@media (min-width: 1200px) {
    .main-title {
        font-size: 44px;
        max-width: 696px;
    }
}